.App {
  padding: 1em;
}
.padding {
  padding: 1em;
}
.world {
  outline: 1px solid black;
  position: relative;
  overflow: hidden;
}
.ball {
  position: absolute;
  background-color: red;
  border-radius: 100%;
}
.hand {
  position: absolute;
  background-color: pink;
  height: 100%;
}

.hint {
  position: absolute;
}
